if SHIELD_THE_ABYSS_LEFT

config ZMK_KEYBOARD_NAME
    default "the-abyss"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_THE_ABYSS_LEFT || SHIELD_THE_ABYSS_LEFT

config ZMK_SPLIT
    default y

endif
